---

config:
  toybox:
    DATABASE_URI: "sqlite:///:memory:"
    CACHE_HOST: localhost
    CACHE_PORT: 6379

  quarry-web:
    SECRET_KEY: "CHANGE ME"
    GITHUB_CLIENT_ID: "CHANGE ME"
    GITHUB_CLIENT_SECRET: "CHANGE ME"

  quarry-api:
    UPLOAD_KEY_TTL: 3600
    UPLOAD_BUCKET: "BUCKET-NAME"
    ARCHIVE_MIN_SIZE: 0
    # 512 MB
    ARCHIVE_MAX_SIZE: 536870912
    WORLD_OBJ_MIN_SIZE: 0
    # 10 MB
    WORLD_OBJ_MAX_SIZE: 10485760
